/* CSS Reset */

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

/* I start here */

.container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5%;
}


.navbar {
  background-color: #363f48;
  height: 6vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 65vh;
  min-height: 500px;
  background-color: wheat;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  min-width: 200px;
  max-width: 350px;
}

.benefit {
  min-width: 750px;
  display: flex;
  align-items: center;
  height: 30vh;
}

.benefit img {
    max-width: 100px;
    width: 75px;
}

.blog {
    background-color: #f7f7f7;
}

.container > .section-header > h2, .company h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.container > .section-header > p, .company p {
  font-size: 20px;
  text-align: center;
}

.list-items {
  flex-wrap: wrap;
  max-width: 1140px;
  min-width: 700px;
}

.list-items .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    flex: 30%;
    
}

.company .flex > .welcome-jpg {
  width: 400px;
  height: auto;
}

.company .flex {
  min-width: 700px
}